$fontSize: 20pt;

body {
    font-family: 'Montserrat', sans-serif;
    font-size: $fontSize;
    background: rgb(0, 112, 82);
    background-position: center center !important; 
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    color: rgb(0, 0, 0);
    padding-bottom: 75px;
}

footer {
    padding: 10px;
    font-size: 12pt;

    .footerlinks {
        padding: 10px;
        color: black;
        font-size: 12pt;
    }
}

.squareback {
    background: rgba(255, 255, 255, 0.637);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


// Mobile layout
@media (max-width: 992px) {
    body {
        font-size: $fontSize * 0.60;
    }
}